<% pageTitle = 'Produto' %>
<%- include ("assets/header") %>
<%- include ("assets/menu") %>
<%- include ("assets/chatbot") %>

<link rel="stylesheet" href="css/product.css">
<link rel="stylesheet" href="css/product-grid.css">


<div class="container" id="container-product">
    <div class="row">
        <div class="col-lg-5 col-xs-12">
            <img src="img/margaridas.jpg" width="100%">
        </div>
        <div class="col-lg-7 col-xs-12"  style="display: grid;">
            <span id="title-prod">
                    FROZINHA ESPECIAL
                </span>
            <span id="price-prod">
                R$ 50,00
            </span>
            <button id="button-prod">
                COMPRAR AGORA
            </button>
            <span style="font-size: 25px; margin-top: 30px; font-weight: 600; color: #4c4c4c"> DESCRIÇÃO</span>
            <span id="desc-prod">
                
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 
                Essa frozinha é muito especial é uma frozinha 

            </span>
        </div>
    </div>

    <div class="container-fluid" style="text-align: center;">
        <div class="row">
            <div class="col-lg-3">
                <div class="prod">
                    <div class="img-prod">
                        <img src="img/margaridas.jpg" width="100%">

                    </div>
                    <div class="title-prod">
                        <span>Margaridas</span>
                    </div>
                    <div class="price-prod">
                        <span>R$ 35,90</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="prod">
                    <div class="img-prod">
                        <img src="img/margaridas.jpg" width="100%">

                    </div>
                    <div class="title-prod">
                        <span>Margaridas</span>
                    </div>
                    <div class="price-prod">
                        <span>R$ 35,90</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="prod">
                    <div class="img-prod">
                        <img src="img/margaridas.jpg" width="100%">

                    </div>
                    <div class="title-prod">
                        <span>Margaridas</span>
                    </div>
                    <div class="price-prod">
                        <span>R$ 35,90</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="prod">
                    <div class="img-prod">
                        <img src="img/margaridas.jpg" width="100%">

                    </div>
                    <div class="title-prod">
                        <span>Margaridas</span>
                    </div>
                    <div class="price-prod">
                        <span>R$ 35,90</span>
                    </div>
                </div>
            </div>





        </div>
    </div>

    </div>



<%- include ("assets/footer") %>