    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <p class="title-footer" style="font-size: 30px; ">FLOWER SHOP</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <p class="title-footer" >
                       LINKS UTÉIS
                    </p>
                    <span class="desc-footer">
                        LOJA ONLINE
                    </span>
                    <span class="desc-footer">
                        POLITÍCA DE CANCELAMENTO
                    </span>
                    <span class="desc-footer">
                        CONTATO
                    </span>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <p class="title-footer" >
                       SIGA-NOS
                    </p>
                    <img class="social-icons" src="img/instagram.png" width="30"> 
                    <img class="social-icons" src="img/facebook-circular-logo.png" width="30"> 

                </div>
                <div class="col-lg-4 col-xs-12">
                    <p class="title-footer" >
                       CONTATO
                    </p>
                    <span class="desc-footer">
                        (11) 9999-9999
                    </span>
                    <span class="desc-footer">
                        Rua da Exclamação 559 - CEP 13090-000
                    </span>
                    
                </div>

            </div>
        </div>
    </div>
    
    </body>
</html>