<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="img/logo-florida.png" width="130">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ocasiões
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Dia dos Mortos</a>
            <a class="dropdown-item" href="#">Dia dos Namorados</a>
            <a class="dropdown-item" href="#">Aniversário</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Monte seu presente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>       
      </ul>
      <ul class="navbar-nav mr-auto" >
        <li style="float: right !important; margin-right:20px ;position: absolute; right: 0; top: 30px; bottom: 0; ">
          <a class="nav-link" href="/carrinho"> <img src="img/cart.png" width="25px"> </a>
        </li>
        </ul>
    </div>
  </nav>